<div class="contenedor fondo-bg">
    <br>
    <br>
    <div class="container">
      
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="container-logo">
                    <mat-icon class="icon-logo" aria-hidden="false" aria-label="Example home icon">mark_email_unread</mat-icon>
                    <br>
                    <h1 class="title">Escribe tu email</h1>
                </div>
                <br>
                <mat-form-field style="width: 100%;" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <button class="btn-inicio color-bg-btn" mat-raised-button>Recupera tu contraseña</button>       
            </div>

           
            
        </div>
    </div>
</div>
