<div class="contenedor fondo-bg">
    <br>
    <br>
    <div class="container">
      
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="container-logo">
                    <mat-icon class="icon-logo" aria-hidden="false" aria-label="Example home icon">mark_email_unread</mat-icon>
                    <br>
                    <h1 class="title">Crea tu cuenta en Twitter</h1>
                </div>
                <br>
                <mat-form-field style="width: 100%;" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="email" name="email" type="email" class="text-white" matInput>
                </mat-form-field>
                <mat-form-field style="width: 100%;" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input [(ngModel)]="pass" name="pass" type="password" class="text-white" matInput>
                </mat-form-field>
                <br>
                <button (click)=" crearCuentaConEmailYPassword()" class="btn-inicio color-bg-btn" mat-raised-button>Regístrate en Twitter</button>  
                <br>
                <br>
                <h5 [routerLink]="['/login']" class="color-text-blue center registro-text pointer"><span>¿Ya tienes una cuenta?</span></h5>          
            </div>

           
            
        </div>
    </div>
</div>
