<div class="contenedor fondo-bg">
    <br>
    <br>
    <div class="container">
      
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="container-logo">
                    <mat-icon class="icon-logo" aria-hidden="false" aria-label="Example home icon">mark_email_unread</mat-icon>
                    <br>
                    <h1 style="margin-left: -60px;" class="title">Cuenta creada correctamente en Twitter</h1>
                </div>
                <br>
                <button (click)="cerrarSesion()" class="btn-inicio color-bg-btn" mat-raised-button>Regístrate en Twitter</button>  
                <br>
                <br>
               
            </div>

           
            
        </div>
    </div>
</div>

